# Environnements virtuels
venv/
env/
.venv/

# Fichiers compilés
__pycache__/
*.pyc
*.pyo

# Fichiers système
.DS_Store

# Fichiers temporaires
flask.pid
instance/
migrations/

# Dossiers de déploiement
.vercel/

# Flask Secret Key
.env

# Firebase Service Account
firebase_service_account.json
